{% extends 'main.html' %}

{% block content %}
    {% if request.user.is_authenticated and request.user != book.user %}
    
        {% include 'managing/popularity_actions.html' with id=book.id content_type='managing_book' have_like=True have_dislike=True have_bookmark=True liked_condition=liked disliked_condition=disliked bookmarked_condition=bookmarked %}
    {% endif %}
    
    <h3>name : {{book.title}}</h3>
    <h3>author : <a href="#">{{book.author.full_name}}</a></h3>
    <h3>publisher : <a href="#">{{book.publisher.name}}</a></h3>
    <h3>pages : {{book.pages}}</h3>
    <h3>published in : {{book.year_published}}</h3>
    <h3>print number : {{book.print_num}}</h3>
    <h3>cover number : {{book.cover_num}}</h3>
    <h3>print number : {{book.print_num}}</h3>
    <h3>in store : {{book.in_store}}</h3>
    <h3>cost : {{book.cost}}$</h3>
    
    <div style="float:none">
        <h1 style="display:inline;margin-right:10px">Categories : </h1>
        {% for tag in book.tag.all %}
            <button><h3>{{tag.name}}</h3></button>
        {% endfor %}
    </div>
    <hr/>
        {% include "managing/comment.html" with comments=book.comment.all %}
    <hr/>
    {% if request.user.is_authenticated %}
        {% include "managing/form.html" with which="Comment"%}
    {% endif %}
{% endblock %}