{% extends 'main.html' %}

{% block content %}
    <div >
    {% for book in books %}
    <div style="border-style:solid;margin-bottom:5px;">
        <a href={{book.get_absolute_url}}><h2 style="float:left;margin-right:10px">{{book.title}}</h2></a>
        <h4 style="float:left;margin-right:10px">{{ book.author.full_name }}</h4>
        <h4 style="float:left;margin-right:10px">{{ book.publisher }}</h4>
        <h4>{{ book.pages }} pages</h4>
        
        
    </div>
    {% endfor %}
    </div>
{% endblock %}